:root {
    --yellow: #eed616;
    --dark-blue: #0a0948;
    --gray-blue: #74748c;
    --white: #ededf0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;

    /* IMPORTANT */
    overflow-x: hidden;
}

/* Componentes */
.btn {
    background: var(--dark-blue);
    color: var(--white);
    border-radius: 2px;
    width: 132px;
    height: 50px;
    transition: all ease 0.2s;
}

.btn:hover {
    transform: scale(1.1);
    background-color: var(--yellow);
    color: var(--dark-blue);
}

h1 {
    font-weight: 700;
    font-size: 48px;
    color: var(--dark-blue);
}

h4 {
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-blue);
}

p {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-blue);
}

/* End Componentes */

/* Navigation */
.navbar  a{
    font-weight: 400;
    color: var(--dark-blue);
    transition: all ease .3s;    
}

.nav-item a {
    margin: 0 20px;
}

.navbar  a:hover {
    color: var(--dark-blue);
    font-weight: 700;
}
/* End Navigation */

/* Header */
.header {
    background-image: url(../image/joao-tzanno-BxoaHOKCD_Q-unsplash\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 120vw;
    height: 550px;
    margin-bottom: 200px;
}

.header h1 {
    color: #fff;
}

.header span {
    font-weight: 100;
}

.header p {
    color: #fff;
    margin: 35px 0;
}
/* End Header */

/* Sobre */
.sobre {
    margin-bottom: 200px;
    transition: all ease .5s;
}

.sobreImg {
    width: 540px;
    height: 430px;
}

.sobre h4 {
    margin-bottom: 45px;
}

.sobre .btn {
    margin-top: 45px;
}
/* End Sobre */

/* Serviços */
.servicos {
    margin-bottom: 200px;
}

.servicos .cards {
    width: 370px;    
    margin: 0 15px;   

}

.servicos img {
    padding-top: 25px;
}

.servicos h1 {
    margin-bottom: 50px;
}

.servicos h4 {
    width: 100%;
    padding: 25px 0px;
}

.servicos p {
    padding: 0 15px;
}
/* End Serviços */

/* Galeria */
.galeria {
    margin-bottom: 200px;
}

.galeria h1 {
    margin-bottom: 50px;
}

.carousel {
    width: 100%;
    margin: 0 auto;
}
/* End Galeria */

/* Contato */
.contato {
    height: 450px;
    overflow: hidden;
}

.contato h1 {
    margin-bottom: 50px;
}

.contato img {
    width: 100%;
}
/* End Contato */

/* Footer */
.footer {
    margin-top: 200px;
}
/* End Footer */
